<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% block title %}Control Panel{% endblock %}</title>
        <!-- Tell the browser to be responsive to screen width -->
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {% block stylesheets %}
        <!-- Font Awesome -->
        <link rel="stylesheet" href="{{ asset('assets/js/plugins/fontawesome-free/css/all.min.css') }}" />
        <!-- Ionicons -->
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
        <!-- overlayScrollbars -->
        <link rel="stylesheet" href="{{ asset('assets/css/adminlte.min.css') }}" />
        <!-- Google Font: Source Sans Pro -->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet" />
        {% endblock %}
    </head>
    <body class="hold-transition sidebar-mini">
        <!-- Site wrapper -->
        <div class="wrapper">
            <!-- Navbar -->
            <nav class="main-header navbar navbar-expand navbar-white navbar-light">
                <!-- Left navbar links -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                    </li>
                </ul>
            </nav>
            <!-- /.navbar -->

            <!-- Main Sidebar Container -->
            <aside class="main-sidebar sidebar-dark-primary elevation-4">
                <!-- Sidebar -->
                <div class="sidebar">
                    <!-- Sidebar Menu -->
                    <nav class="mt-2">
                        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                            <!-- Add icons to the links using the .nav-icon class
							 with font-awesome or any other icon font library -->
                            <li class="nav-item has-treeview menu-open">
                                <a href="/dashboard" class="nav-link">
                                    <i class="nav-icon fas fa-tachometer-alt"></i>
                                    <p>
                                        Dashboard
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    {% if is_granted('ROLE_ADMIN') == true %}
                                    <li class="nav-item">
                                        <a href="/dashboard/superadmin/closers" class="nav-link">
                                            <i class="fas fa-users nav-icon"></i>
                                            <p>Список клоузеров</p>
                                        </a>
                                    </li>
                                    {% endif %}
                                    {% if is_granted('ROLE_CLOSER') == true %}
                                    <li class="nav-item">
                                        <a href="/dashboard/operators" class="nav-link">
                                            <i class="fas fa-users nav-icon"></i>
                                            <p>Мои операторы</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/dashboard/calls" class="nav-link">
                                            <i class="fas fa-phone-volume nav-icon"></i>
                                            <p>Звонки</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/dashboard/outbound" class="nav-link">
                                            <i class="fas fa-file-export nav-icon"></i>
                                            <p>Исходящая база</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/dashboard/robot" class="nav-link">
                                            <i class="fas fa-cog nav-icon"></i>
                                            <p>Робот</p>
                                        </a>
                                    </li>
                                    {% endif %}

                                    <li class="nav-item">
                                        <a href="/operator/call" class="nav-link">
                                            <i class="fas fa-phone nav-icon"></i>
                                            <p>Панель оператора</p>
                                        </a>
                                    </li>
                                    
                                    {% if is_granted('ROLE_ADMIN') == true %}
                                    <li class="nav-item">
                                        <a href="/operator/phone" class="nav-link">
                                            <i class="fas fa-phone nav-icon"></i>
                                            <p>Звонилка</p>
                                        </a>
                                    </li>
                                    {% endif %}

                                    <li class="nav-item">
                                        <a href="/logout" class="nav-link">
                                            <i class="fas fa-sign-out-alt nav-icon"></i>
                                            <p>Выход</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <!-- /.sidebar-menu -->
                </div>
                <!-- /.sidebar -->
            </aside>

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                {% block body %} {% endblock %}
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->

            <!-- Control Sidebar -->
            <aside class="control-sidebar control-sidebar-dark">
                <!-- Control sidebar content goes here -->
            </aside>
            <!-- /.control-sidebar -->
        </div>
        <!-- ./wrapper -->

        <div class="modal fade" id="modal-danger" style="display: none;" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content bg-danger">
                    <div class="modal-header">
                        <h4 class="modal-title">ВНИМАНИЕ!</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p><b><h2>Вы всё удалите!</h2></b></p>
                        <p>После нажатия кнопки "Подтвердить удаление" система автоматически зачистит все следы вашего присутствия в нашей системе.</p>
                        <p>Будут <b>БЕЗВОЗВРАТНО</b> удалены:</p>
                        <ul>
                        	<li><b>Ваша учётная запись</b></li>
                        	<li><b>Операторы</b></li>
                        	<li><b>Базы робота</b></li>
                        	<li><b>Базы исходящей линии</b></li>
                        	<li><b>Комментарии к контактам</b></li>
                        	<li><b>Список контактов</b></li>
                        	<li><b>Все загруженные файлы</b></li>
                        </ul>
                        <p><b><h3>Вы уверены?</h3></b></p>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-outline-light" data-dismiss="modal">Нет, я случайно. Закрыть окно</button>
                        <button type="button" class="btn btn-outline-light" onclick="window.location='/dashboard/destroy'">Подтвердить удаление</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>

        {% block javascripts %}
        <!-- jQuery -->
        <script src="{{ asset('assets/js/plugins/jquery/jquery.min.js') }}"></script>
        <!-- Bootstrap 4 -->
        <script src="{{ asset('assets/js/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

        <!-- AdminLTE App -->
        <script src="{{ asset('assets/js/adminlte.min.js') }}"></script>
        <!-- AdminLTE for demo purposes -->
        <script src="{{ asset('assets/js/demo.js') }}"></script>
        <audio id="ringtone" src="/assets/sounds/incoming.mp3" loop></audio>
        <audio id="ringbacktone" src="/assets/sounds/outgoing.mp3" loop></audio>
        <audio id="dtmfTone" src="/assets/sounds/dtmf.mp3"></audio>
        <audio id="audioRemote"></audio>
        <script>
            document.querySelector('.custom-file-input').addEventListener('change',function(e){
                var fileName = document.getElementById("database_upload_file").files[0].name;
                var nextSibling = e.target.nextElementSibling
                nextSibling.innerText = fileName
            })
        </script>
        {% endblock %}
        {% block phone_js %}{% endblock %}
        {% block add_js %}{% endblock %}
    </body>
</html>
