{% extends 'default/base.html.twig' %}
{% block title %}Dashboard | Cotrol Panel{% endblock %}
{% block body %}

<!-- Content Header (Page header) -->
<section class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1>Звонки</h1>
			</div>
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item"><a href="#">Control Panel</a></li>
					<li class="breadcrumb-item">Dashboard</li>
					<li class="breadcrumb-item active">Звонки</li>
				</ol>
			</div>
		</div>
	</div> <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
	<div class="row">
    <div class="col-lg-3">

      <!-- small box -->
      <div class="small-box bg-info">
        <div class="inner">
          <h3>{{ today_time }}</h3>
          <p>Выговорили сегодня</p>
        </div>
        <div class="icon">
          <i class="ion ion-bag"></i>
        </div>
      </div>
    </div>

    <!-- ./col -->
    <div class="col-lg-3">

      <!-- small box -->
      <div class="small-box bg-success">
        <div class="inner">
          <h3>{{ today_calls }}/{{ today_calls_c }}/{{ today_calls_d }}</h3>
          <p>Звонков сегодня(A/C/D)</p>
        </div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
      </div>
    </div>

    <!-- ./col -->
    <div class="col-lg-3">

      <!-- small box -->
      <div class="small-box bg-warning">
        <div class="inner">
          <h3>{{ today_money }}</h3>
          <p>Потрачено сегодня {% if opid != 0%}данным оператором{% endif %}</p>
        </div>
        <div class="icon">
          <i class="ion ion-person-add"></i>
        </div>
      </div>
    </div>
    {% if opid == 0 %}
    <div class="col-lg-3">

      <!-- small box -->
      <div class="small-box bg-warning">
        <div class="inner">
          <h3>{{ balance }}</h3>
          <p>Общий баланс</p>
        </div>
        <div class="icon">
          <i class="ion ion-person-add"></i>
        </div>
      </div>
    </div>
    {% endif %}

    <!-- ./col -->
  </div>
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">Список звонков</h3>
					<div class="card-tools">
						<form method="GET">
							<div class="input-group input-group-sm" style="width: 150px;" data-children-count="1">
								<input type="text" name="dst" class="form-control float-right" placeholder="Номер">
								<div class="input-group-append">
								<button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
								</div>
							</div>
						</form>
					</div>
				</div> <!-- /.card-header -->
				<div class="card-body table-responsive p-0"><br>
						<table class="table table-hover text-nowrap">
						<thead>
							<tr>
								<th>Дата</th>
								<th>Номер телефона</th>
								<th>Оператор</th>
								<th>Статус</th>
								<th>Время</th>
								<th>Стоимость</th>
								<th>Запись</th>
							</tr>
						</thead>
						<tbody>
							{% for op in result %}
									<tr>
										<td>{{ op.calldate|date('d.m.y H:i:s') }}</td>
										<td>{{ op.dst }}</td>
										<td>{{ op.cnum }}</td>
										<td>
											{% if op.disposition == "ANSWERED" %}
												<span class="badge bg-success">Дозвонились</span>
											{% endif %}

											{% if op.disposition == "NO ANSWER" %}
												<span class="badge bg-danger">Недозвон</span>
											{% endif %}

											{% if op.disposition == "BUSY" or op.disposition == "CONGESTION" %}
												<span class="badge bg-warning">Занято</span>
											{% endif %}
										</td>
										<td>{{ op.duration|date('H ч. i м. s с.', '+00:00 GMT')  }}</td>
										<td>
											{% if op.disposition == "NO ANSWER" or op.disposition == "CONGESTION" or op.disposition == "BUSY" %}
												0 $
											{% else %}
												{% if op.duration < 60 %}
													{%if op.duration == 0 %}
													0 $
													{% else %}
														{{ tariff }} $
													{% endif %}
												{% else %}
													{% if (op.duration%60) != 0 %}
														{{ (op.duration//60)*tariff+tariff }} $
													{% else %}
														{{ (op.duration//60)*tariff }} $
													{% endif %}
												{% endif %}
											{% endif %}
											
										</td>
										<td>
											<audio src="https://i1.suvq.ru/records/{{ op.calldate|date('Y') }}/{{ op.calldate|date('m') }}/{{ op.calldate|date('d') }}/{{ op.recordingfile }}" controls="">
												<embed src="https://i1.suvq.ru/records/{{ op.calldate|date('Y') }}/{{ op.calldate|date('m') }}/{{ op.calldate|date('d') }}/{{ op.recordingfile }}" width="300" height="20" loop="false" type="audio/wav">
											</audio>
											</td>
									</tr>
							{% endfor %}
						</tbody>
					</table>
				</div> <!-- /.card-body -->
			</div> <!-- /.card -->
			<div class="btn-group">
				{% if prevpage != "0" %}
					<a href="?pageno={{prevpage}}&dst={{ dstparam }}" class="btn btn-default">Предыдущая</a>
				{% endif %}
				<a href="?pageno={{currpage}}&dst={{ dstparam }}" class="btn btn-default">{{currpage}}</a>
				<a href="?pageno={{nextpage}}&dst={{ dstparam }}" class="btn btn-default">Следующая</a>
			</div>
		</div>
	</div>
</section>
{% endblock %}