{% extends 'default/base.html.twig' %} {% block title %}Dashboard | Cotrol Panel{% endblock %} {% block body %}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Список клоузеров</h1>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Новый пароль</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form method="post">
                    <div class="card-body">
                        <div class="form-group" data-children-count="1">
                            <label for="inputDBName">Новый пароль </label>
                            <input type="text" id="database_upload_name" name="new_closer_password" required="required" maxlength="255" class="form-control" />
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Изменить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

	<div class="row">
        <div class="col-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Добавить операторов</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form method="post">
                    <div class="card-body">
                        <div class="form-group" data-children-count="1">
                            <label for="inputDBName">Количество </label>
                            <input type="number" id="database_upload_name" name="new_users_to_closer" required="required" class="form-control" />
						</div>
						<div class="form-group" data-children-count="1">
                            <label for="inputDBName">Стартовый номер </label>
                            <input type="number" id="database_upload_name" name="new_users_to_closer_prefix" required="required"  class="form-control" />
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Добавить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body table-responsive p-0">
                    <br />
                    <table class="table table-hover text-nowrap">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Логин</th>
                                <th>SIP логин</th>
                                <th>SIP пароль</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for op in operators %}
                            <tr>
                                <td>{{ op.id }}</td>
                                <td>{{ op.username }}</td>
                                <td>{{ op.sipid }}</td>
                                <td>{{ op.sippassword }}</td>
                                <td>
                                    <div class="btn-group">
                                        <a href="/dashboard/superadmin/closers/{{ op.closerid }}/manager/{{ op.id }}/remove" class="btn btn-danger"><i class="fas fa-ban"></i></a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <div class="btn-group">
                <a href="/dashboard/calls?pageno=1" class="btn btn-default">1</a>
                <a href="/dashboard/calls?pageno=2" class="btn btn-default">Следующая</a>
            </div>
        </div>
	</div>
	
	<div class="row mt-3">
        <div class="col-12">
            <div class="card">
                <div class="card-body table-responsive p-0">
                    <div class="form-group" data-children-count="1">
                        <textarea class="form-control" rows="10" placeholder="login:password">{{ optext }}</textarea>
                      </div>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
	</div>
	
</section>

{% endblock %}
