{% extends 'default/base.html.twig' %} {% block title %}Dashboard | Cotrol Panel{% endblock %} {% block body %}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Список клоузеров</h1>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Добавление клоузера</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form method="post">
                    <div class="card-body">
                        <div class="form-group" data-children-count="1">
                            <label for="inputDBName">Логин </label>
                            <input type="text" id="database_upload_name" name="closer_login" required="required" maxlength="255" class="form-control" />
                        </div>
                        <div class="form-group" data-children-count="1">
                            <label for="inputDBName">Пароль </label>
                            <input type="text" id="database_upload_name" name="closer_password" required="required" maxlength="255" class="form-control" />
						</div>
						<div class="form-group" data-children-count="1">
                            <label for="inputDBName">SIP ID </label>
                            <input type="text" id="database_upload_name" name="closer_sip_id" required="required" maxlength="255" class="form-control" />
						</div>
						<div class="form-group" data-children-count="1">
                            <label for="inputDBName">SIP Пароль </label>
                            <input type="text" id="database_upload_name" name="closer_sip_pwd" required="required" maxlength="255" class="form-control" />
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Добавить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Пополнение баланса</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form method="post">
                    <div class="card-body">
                        <div class="form-group" data-children-count="1">
                            <label for="closer_id">Выберите клоузера </label>
                            <select name="closer_id" id="closer_id" class="form-control">
                                {% for closer in closers %}
                                    <option value="{{ closer.id }}">{{ closer.username }} (ID: {{ closer.id }})</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group" data-children-count="1">
                            <label for="sum_topup">Введите сумму </label>
                            <input type="number" id="sum_topup" name="closer_sum" required="required" maxlength="255" class="form-control" />
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Пополнить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body table-responsive p-0">
                    <br />
                    <table class="table table-hover text-nowrap">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Логин</th>
                                <th>SIP логин</th>
                                <th>SIP пароль</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for closer in closers %}
                            <tr>
                                <td>{{ closer.id }}</td>
                                <td>{{ closer.username }}</td>
                                <td>{{ closer.sipid }}</td>
                                <td>{{ closer.sippassword }}</td>
                                <td>
                                    <div class="btn-group">
                                        <a href="/dashboard/calls/0/{{ closer.id }}" class="btn btn-info"><i class="fas fa-list-ol"></i></a>
                                        <a href="/dashboard/superadmin/closers/{{ closer.id }}/manager" class="btn btn-warning"><i class="fas fa-tasks"></i></a>
                                        <a href="/dashboard/superadmin/closers/{{ closer.id }}/remove" class="btn btn-danger"><i class="fas fa-ban"></i></a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <div class="btn-group">
                <a href="/dashboard/calls?pageno=1" class="btn btn-default">1</a>
                <a href="/dashboard/calls?pageno=2" class="btn btn-default">Следующая</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}
