{% extends 'default/base.html.twig' %} {% block title %}Dashboard | Cotrol Panel{% endblock %} {% block body %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Исходящая линия</h1>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-3">
            <!-- Profile Image -->
            <div class="card card-primary card-outline">
                <div class="card-body box-profile">
                    <h3 class="profile-username text-center">{{ fullname }}</h3>
                    <!-- <p class="text-muted text-center">Местное время: {{ localtime }}</p> -->
                    <ul class="list-group list-group-unbordered mb-3">
                        <!-- <li class="list-group-item"><b>Регион:</b> {{ region }}</li> -->
                        <li class="list-group-item"><b>Доп. данные</b> {{ city }}</li>
                        <li class="list-group-item"><b>Номер</b> {{ phone }}</li>
                    </ul>
                    <a href="tel:{{phone}}" class="btn btn-default btn-block"><b>Позвонить</b></a>
                    <a href="/operator/call/{{clid}}/setstatus/2" class="btn btn-warning btn-block"><b>Недозвон</b></a>
                    <a href="/operator/call/{{clid}}/setstatus/5" class="btn btn-danger btn-block"><b>Отказ</b></a>
                    <a href="/operator/call/{{clid}}/setstatus/1" class="btn btn-success btn-block"><b>Успешная сделка :-)</b></a>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    <div class="tab-content">
                        <div class="active tab-pane" id="activity">
                            <div class="post" data-children-count="1">
                                <form class="form-horizontal" method="POST" action="/operator/call/{{clid}}/sendcomment">
                                    <div class="input-group input-group-sm mb-0" data-children-count="1">
                                        <textarea rows="5" name="comment_text" class="form-control form-control-sm" placeholder="Оставить комментарий..."></textarea>
                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-danger">Отправить</button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="timeline timeline-inverse">
                                {% for post in comments %}
                                <div>
                                    {% if post.type == 1 %}
                                        <i class="fas fa-comments bg-warning"></i>
                                        <div class="timeline-item">
                                            <span class="time"><i class="far fa-clock"></i> {{ post.date|date("d.m.Y H:i:s")}}</span>
                                            <h3 class="timeline-header"><a href="#">{{ post.user_name }}</a> оставил комментарий</h3>
                                            <div class="timeline-body">
                                                {{ post.text }}
                                            </div>
                                        </div>
                                    {% elseif post.type == 2 %}
                                        <i class="fas fa-comments bg-warning"></i>
                                        <div class="timeline-item">
                                            <span class="time"><i class="far fa-clock"></i> {{ post.date|date("d.m.Y H:i:s")}}</span>
                                            <h3 class="timeline-header"><a href="#">{{ post.user_name }}</a> {{ post.text }}</h3>
                                            <div class="timeline-body">
                                                
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- /.tab-pane -->
                        <!-- /.tab-pane -->
                    </div>
                    <!-- /.tab-content -->
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
    </div>
</section>
{% endblock %}
