{% extends 'default/base.html.twig' %}
{% block title %}Dashboard | Cotrol Panel{% endblock %}
{% block body %}

<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Dashboard</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Control Panel</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </div>
    </div>
  </div> <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-lg-3 col-6">

      <!-- small box -->
      <div class="small-box bg-info">
        <div class="inner">
          <h3>0</h3>
          <p>Звонков сегодня</p>
        </div>
        <div class="icon">
          <i class="ion ion-bag"></i>
        </div>
      </div>
    </div>

    <!-- ./col -->
    <div class="col-lg-3 col-6">

      <!-- small box -->
      <div class="small-box bg-success">
        <div class="inner">
          <h3>0</h3>
          <p>Операторов на линии</p>
        </div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
      </div>
    </div>

    <!-- ./col -->
    <div class="col-lg-3 col-6">

      <!-- small box -->
      <div class="small-box bg-warning">
        <div class="inner">
          <h3>0</h3>
          <p>Звонков робота</p>
        </div>
        <div class="icon">
          <i class="ion ion-person-add"></i>
        </div>
      </div>
    </div>

    <!-- ./col -->
    <div class="col-lg-3 col-6">

      <!-- small box -->
      <div class="small-box bg-danger">
        <div class="inner">
          <h3>0</h3>
          <p>Успешных звонков</p>
        </div>
        <div class="icon">
          <i class="ion ion-pie-graph"></i>
        </div>
      </div>
    </div>

    <!-- ./col -->
  </div>


  <div class="row">
          <!-- Left col -->
          <div class="col-md-8">
            <!-- MAP & BOX PANE -->
            
            <!-- /.card -->
            
            <!-- /.row -->

            <!-- TABLE: LATEST ORDERS -->
            <div class="card">
              <div class="card-header border-transparent">
                <h3 class="card-title">Операторы</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <div class="table-responsive">
                  <table class="table m-0">
                    <thead>
                    <tr>
                      <th>ФИО</th>
                      <th>Звонков</th>
                      <th>Успешных</th>
                      <th>Перезвонов</th>
                      <th>Недозвонов</th>
                      <th>Время разговоров</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td><a href="pages/examples/invoice.html">Тестовый Оператор Операторович</a></td>
                      <td>17</td>
                      <td>5</td>
                      <td>3</td>
                      <td>9</td>
                      <td>41:03</td>
                    </tr>
                    <tr>
                      <td><a href="pages/examples/invoice.html">Тестовый Оператор Операторович</a></td>
                      <td>17</td>
                      <td>5</td>
                      <td>3</td>
                      <td>9</td>
                      <td>41:03</td>
                    </tr>
                    <tr>
                      <td><a href="pages/examples/invoice.html">Тестовый Оператор Операторович</a></td>
                      <td>17</td>
                      <td>5</td>
                      <td>3</td>
                      <td>9</td>
                      <td>41:03</td>
                    </tr>
                    <tr>
                      <td><a href="pages/examples/invoice.html">Тестовый Оператор Операторович</a></td>
                      <td>17</td>
                      <td>5</td>
                      <td>3</td>
                      <td>9</td>
                      <td>41:03</td>
                    </tr>
                    <tr>
                      <td><a href="pages/examples/invoice.html">Тестовый Оператор Операторович</a></td>
                      <td>17</td>
                      <td>5</td>
                      <td>3</td>
                      <td>9</td>
                      <td>41:03</td>
                    </tr>
                    <tr>
                      <td><a href="pages/examples/invoice.html">Тестовый Оператор Операторович</a></td>
                      <td>17</td>
                      <td>5</td>
                      <td>3</td>
                      <td>9</td>
                      <td>41:03</td>
                    </tr>
                    <tr>
                      <td><a href="pages/examples/invoice.html">Тестовый Оператор Операторович</a></td>
                      <td>17</td>
                      <td>5</td>
                      <td>3</td>
                      <td>9</td>
                      <td>41:03</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <!-- /.table-responsive -->
              </div>
              <!-- /.card-footer -->
            </div>
            <!-- /.card -->
          </div>
          <div class="col-md-4">
              <div class="card">
              <div class="card-header border-0">
                <h3 class="card-title">Звонки</h3>
                <div class="card-tools">
                  <a href="#" class="btn btn-tool btn-sm">
                    <i class="fas fa-download"></i>
                  </a>
                  <a href="#" class="btn btn-tool btn-sm">
                    <i class="fas fa-bars"></i>
                  </a>
                </div>
              </div>
              <div class="card-body table-responsive p-0">
                <table class="table table-striped table-valign-middle">
                  <thead>
                  <tr>
                    <th>Оператор</th>
                    <th>Время разговора</th>
                    <th>Статус</th>
                    <th>Итог</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>
                      Тестовый оператор
                    </td>
                    <td>16:06</td>
                    <td>
                      Дозвонился
                    </td>
                    <td>
                      Успешно
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Тестовый оператор
                    </td>
                    <td>01:13</td>
                    <td>
                      Дозвонился
                    </td>
                    <td>
                      Перезвон
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Тестовый оператор
                    </td>
                    <td>02:11</td>
                    <td>
                      Дозвонился
                    </td>
                    <td>
                      Перезвон
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Тестовый оператор
                    </td>
                    <td>00:01</td>
                    <td>
                      Недозвон
                    </td>
                    <td>
                      Перезвон
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Тестовый оператор
                    </td>
                    <td>00:01</td>
                    <td>
                      Недозвон
                    </td>
                    <td>
                      Перезвон
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Тестовый оператор
                    </td>
                    <td>00:01</td>
                    <td>
                      Недозвон
                    </td>
                    <td>
                      Перезвон
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- /.col -->

          
          <!-- /.col -->
        </div>


</section>
{% endblock %}