{% extends 'default/base_auth.html.twig' %}
{% block title %}Вход{% endblock %}
{% block body %}
<div class="login-box">
  
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Войти</p>
        {% if error %}{{ error.messageKey|trans(error.messageData, 'security') }}{% endif %}
      <form method="post">
        <div class="input-group mb-3">
        <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
        >
          <input type="text" name="username" class="form-control" placeholder="Логин" value="{{ last_username }}">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-users"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" name="password" class="form-control" placeholder="Пароль">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">Вход</button>
          </div>
          <!-- /.col -->
        </div>
        
      </form>

     
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->
{% endblock %}