{% extends 'default/base.html.twig' %} {% block title %}Dashboard | Cotrol Panel{% endblock %} {% block body %}
<!-- Content Header (Page header) -->
<section class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1>Исходящая линия</h1>
			</div>
		</div>
	</div>
	<!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
	<div class="row">
		<div class="col-md-3">
			<!-- Profile Image -->
			<div class="card card-primary card-outline">
				<div class="card-body box-profile">
					<h3 class="profile-username text-center">{{ fullname }}</h3>
					<!-- <p class="text-muted text-center">Местное время: {{ localtime }}</p> -->
					<ul class="list-group list-group-unbordered mb-3">
						<!-- <li class="list-group-item"><b>Регион:</b> {{ region }}</li> -->
						<li class="list-group-item"><b>Доп. данные</b> {{ city }}</li>
						<li class="list-group-item"><b>Номер</b> {{ phone }}</li>
					</ul>

					<div class="clearfix sipStatus">
				        <div id="txtCallStatus" class="pull-right">&nbsp;</div>
				        <div id="txtRegStatus"></div>
				    </div>

				    <div class="form-group" id="phoneUI">
				        <div class="input-group">
							<input type="text" name="number" id="numDisplay" class="form-control text-center input-sm" value="{{ phone }}" placeholder="{{ phone }}" disabled autocomplete="off" />
							{% if is_granted('ROLE_ADMIN') == true %}
								<div class="input-group-btn input-group-btn-sm">
									<button class="btn btn-sm btn-primary dropdown-toggle" id="btnVol" data-toggle="dropdown" title="Звук">
										<i class="fa fa-fw fa-volume-up"></i>
									</button>
									<div class="dropdown-menu dropdown-menu-right">
										<input type="range" min="0" max="100" value="100" step="1" id="sldVolume" />
									</div>
								</div>
							{% endif %}
				        </div>
				    </div>
					


					<div class="modal fade" id="mdlError" style="display: none;" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content bg-danger">
								<div class="modal-header">
									<h4 class="modal-title">Ошибка</h4>
									<button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
										<span aria-hidden="true">×</span>
									</button>
								</div>
								<div class="modal-body">
									<p>Ошибка регистрации SIP. Звонки в данный момент недоступны</p>
								</div>
							</div>
							<!-- /.modal-content -->
						</div>
						<!-- /.modal-dialog -->
					</div>

					{% if is_granted('ROLE_ADMIN') == true %}
						<a href="#" class="btn btn-default btn-block btnCall" onclick="ctxSip.phoneCallButtonPressed();"><b>Позвонить</b></a>
					{% endif %}
					<a href="/operator/call/{{clid}}/setstatus/2" class="btn btn-warning btn-block"><b>Недозвон</b></a>
					<a href="/operator/call/{{clid}}/setstatus/5" class="btn btn-danger btn-block"><b>Отказ</b></a>
					<a href="/operator/call/{{clid}}/setstatus/1" class="btn btn-success btn-block"><b>Успешная сделка :-)</b></a>
				</div>
				<!-- /.card-body -->
			</div>
			<!-- /.card -->
		</div>
		<!-- /.col -->
		<div class="col-md-9">
			<div class="card">
				<div class="card-body">
					<div class="tab-content">
						<div class="active tab-pane" id="activity">
							<div class="post" data-children-count="1">
								<form class="form-horizontal" method="POST" action="/operator/call/{{clid}}/sendcomment">
									<div class="input-group input-group-sm mb-0" data-children-count="1">
										<textarea rows="5" name="comment_text" class="form-control form-control-sm" placeholder="Оставить комментарий..."></textarea>
										<div class="input-group-append">
											<button type="submit" class="btn btn-danger">Отправить</button>
										</div>
									</div>
								</form>
							</div>

							<div class="timeline timeline-inverse">
								<div class="time-label">
									<span class="bg-danger">
			                        	{{ nowtime|date("d F Y") }}
			                        </span>
			                    </div>
								{% for post in comments %}
								<div>
									{% if post.type == 1 %}
										<i class="fas fa-comments bg-warning"></i>
									{% elseif post.type == 2 %}
										<i class="fas fa-envelope bg-primary"></i>
									{% endif %}
									<div class="timeline-item">
										<span class="time"><i class="far fa-clock"></i> {{ post.date|date("d.m.Y H:i:s")}}</span>
										<h3 class="timeline-header"><a href="#">{{ post.user_name }}</a></h3>
										<div class="timeline-body">
											{{ post.text }}
										</div>
									</div>
								</div>
								{% endfor %}
								<div>
			                    	<i class="far fa-clock bg-gray"></i>
			                    </div>
							</div>

							<div id="sip-log" class="panel panel-default hide">
								<div class="panel-heading">
									<h4 class="text-muted panel-title">Недавние звонки <span class="pull-right"><i class="fa fa-trash text-muted sipLogClear" title="Очистить лог"></i></span></h4>
								</div>
								<div id="sip-logitems" class="list-group">
									<p class="text-muted text-center">Вы не совершали звонков с данного браузера.</p>
								</div>
							</div>
						</div>
						<!-- /.tab-pane -->
						<!-- /.tab-pane -->
					</div>
					<!-- /.tab-content -->
				</div>
				<!-- /.card-body -->
			</div>
			<!-- /.nav-tabs-custom -->
		</div>
	</div>
</section>

{% endblock %}
{% block phone_js %}
{% if is_granted('ROLE_ADMIN') == true %}
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/assets/js/moment.js/moment.min.js"></script>
	<script type="text/javascript" src="/assets/js/SIP.js/sip.min.js"></script>
	<script type="text/javascript">
		var user = {
		//  User Name
		"User" : "{{ user.sipid }}",
		//  Password
		"Pass" : "{{ user.sippassword }}",
		//  Auth Realm
		"Realm"   : "s2.suvq.ru",
		// Display Name
		"Display" : "{{ user.sipid }}",
		// WebSocket URL
		"WSServer"  : "wss://s2.suvq.ru:8089/ws"
	};
	</script>
	<script type="text/javascript" src="/assets/js/app.js"></script>
{% endif %}
{% endblock %}