{% extends 'default/base.html.twig' %}
{% block title %}Dashboard | Cotrol Panel{% endblock %}
{% block body %}

<!-- Content Header (Page header) -->
<section class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1>Мои операторы</h1>
			</div>
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item"><a href="#">Control Panel</a></li>
					<li class="breadcrumb-item">Dashboard</li>
					<li class="breadcrumb-item active">Мои операторы</li>
				</ol>
			</div>
		</div>
	</div> <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
<div class="row">
    <div class="col-lg-3 col-6">

      <!-- small box -->
      <div class="small-box bg-info">
        <div class="inner">
          <h3>{{ calls }}</h3>
          <p>Звонков</p>
        </div>
        <div class="icon">
          <i class="ion ion-bag"></i>
        </div>
      </div>
    </div>

    <!-- ./col -->
    <div class="col-lg-3 col-6">

      <!-- small box -->
      <div class="small-box bg-success">
        <div class="inner">
          <h3>{{ operators_cnt }}</h3>
          <p>Операторов</p>
        </div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
      </div>
    </div>

    <!-- ./col -->
    <div class="col-lg-3 col-6">

      <!-- small box -->
      <div class="small-box bg-warning">
        <div class="inner">
          <h3>0</h3>
          <p>Звонков робота</p>
        </div>
        <div class="icon">
          <i class="ion ion-person-add"></i>
        </div>
      </div>
    </div>

    <!-- ./col -->
    <div class="col-lg-3 col-6">

      <!-- small box -->
      <div class="small-box bg-danger">
        <div class="inner">
          <h3>{{ answered_calls }}</h3>
          <p>Успешных звонков</p>
        </div>
        <div class="icon">
          <i class="ion ion-pie-graph"></i>
        </div>
      </div>
    </div>

    <!-- ./col -->
  </div>
  
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">Список операторов</h3>
					<div class="card-tools">
					</div>
				</div> <!-- /.card-header -->
				<div class="card-body table-responsive p-0">
					<table class="table table-hover text-nowrap">
						<thead>
							<tr>
								<th>ID</th>
								<th>Пароль</th>
								<th>Статус</th>
								<th>Состояние</th>
								<th></th>
							</tr>
						</thead>
						<tbody id="operators">
							{% for op in operators %}
								{% if op.status < 3 %}
									<tr>
										<td>{{ op.sipId }}</td>
										<td>{{ op.sipPassword }}</td>
										{% if op.status == 0 %}
											<td><span class="badge bg-success">Активен</span></td>
										{% else %}
											<td><span class="badge bg-warning">Остановлен</span></td>
										{% endif %}
										<td class="operator_status"><span id="op-{{ op.sipId }}">...</span></td>
										<td>
											<div class="btn-group">
												<a href="/dashboard/calls/{{op.id}}" class="btn btn-info"><i class="fas fa-list-ol"></i></a>
												<a href="#" onclick="prompt('Данные для входа в SIP клиент:','IP: s1.suvq.ru Логин: {{op.sipId}} Пароль: {{op.sipPassword}}')" class="btn btn-default"><i class="fas fa-link"></i></a>
												<a style="display:none;" href="/dashboard/operators/{{op.id}}/edit" class="btn btn-warning"><i class="fas fa-pen"></i></a>
												{% if op.status == 0 %}
													<a href="/dashboard/operators/{{op.id}}/pause" class="btn btn-primary"><i class="fas fa-pause"></i></a>
												{% else %}
													<a href="/dashboard/operators/{{op.id}}/start" class="btn btn-success"><i class="fas fa-play"></i></a>
												{% endif %}
												<a href="/dashboard/operators/{{op.id}}/ban" class="btn btn-danger"><i class="fas fa-ban"></i></a>
											  </div>
										</td>
									</tr>
								{% endif %}
							{% endfor %}
							
						</tbody>
					</table>
				</div> <!-- /.card-body -->
			</div> <!-- /.card -->
			<div class="btn-group">
				{% if prevpage != "0" %}
					<a href="/dashboard/operators?pageno={{prevpage}}" class="btn btn-default">Предыдущая</a>
				{% endif %}
				<a href="/dashboard/operators?pageno={{currpage}}" class="btn btn-default">{{currpage}}</a>
				<a href="/dashboard/operators?pageno={{nextpage}}" class="btn btn-default">Следующая</a>
			</div>
		</div>
	</div>
	{% if operators|length > 0 %}
		<div class="row mt-3">
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<h3 class="card-title">Список заблокированных операторов</h3>
						<div class="card-tools">
						</div>
					</div> <!-- /.card-header -->
					<div class="card-body table-responsive p-0">
						<table class="table table-hover text-nowrap">
							<thead>
								<tr>
									<th>ID</th>
									<th>ФИО</th>
									<th>Вызовов</th>
									<th>Успешных</th>
									<th>Недозвон</th>
									<th>Перезвон</th>
									<th>Отказ</th>
									<th>Общее время</th>
									<th>Статус</th>
								</tr>
							</thead>
							<tbody>
								{% for op in operators %}
									{% if op.status > 2 %}
										<tr>
											<td>{{ op.sipId }}</td>
											<td>{{ op.fullname }}</td>
											<td>0</td>
											<td>0</td>
											<td>0</td>
											<td>0</td>
											<td>0</td>
											<td>0 м.</td>
											<td><span class="badge bg-danger">Забанен</span></td>
										</tr>
									{% endif %}
								{% endfor %}
								
							</tbody>
						</table>
					</div> <!-- /.card-body -->
				</div> <!-- /.card -->
			</div>
		</div>
	{% endif %}
</section>
{% endblock %}
{% block add_js %}
<script>
	function update_status(){
		$('#operators tr').each(function(i, elem){
			var td = $(elem).find('td:first-child')[0];
			let opid = td.innerText;
			let idblock = $('#op-'+opid)[0];
			$.getJSON( "/dashboard/operators/status?oids="+opid, function( data ) {
				let opstatus = data[opid].status;
				if(opstatus == 'Оффлайн'){
					var color = '#dc3545';
					var fcolor = '#fff';
				}else if(opstatus == 'Подключён'){
					var color = '#ffc107';
					var fcolor = '#000';
				}else{
					var color = '#28a745';
					var fcolor = '#fff';
				}
				elem.style = 'background-color:'+color+';color:'+fcolor+';';
				idblock.innerText = opstatus;
			});
		});
	}
	// update_status();
	// setInterval(update_status, 60000);
</script>
{% endblock %}