{% extends 'default/base.html.twig' %}
{% block title %}Исходящая база | Cotrol Panel{% endblock %}
{% block body %}
<!-- Content Header (Page header) -->
<section class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1>Исходящая линия
			</div>
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item">
						<a href="#">Control Panel
						</a>
					</li>
					<li class="breadcrumb-item">Dashboard
					</li>
					<li class="breadcrumb-item active">Исходящая линия
					</li>
				</ol>
			</div>
			{% if show_success == 1 %}
				<div class="col-sm-12 mt-5 mb-5">
					<div class="alert alert-success alert-dismissible">
					   	<h5><i class="icon fas fa-info"></i> Внимание!</h5>
					   	База успешно загружена.<br>
					   	<b>Не забудьте посадить операторов на звонки для совершения вызовов!</b><br>
					</div>
				</div>
			{% elseif show_success == 2 %}
				<div class="col-sm-12 mt-5 mb-5">
					<div class="alert alert-danger alert-dismissible">
					   	<h5><i class="icon fas fa-info"></i> Внимание!</h5>
					   	Возникла системная ошибка.<br>
					   	<b>Пожалуйста обратитесь к системному администратору и повторите попутку позднее.</b><br>
					</div>
				</div>
			{% endif %}
		</div>
	</div> 
	<!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
	<div class="row">
		<div class="col-12">
			<div class="card card-primary">
				<div class="card-header">
					<h3 class="card-title">Загрузка базы прозвона
					</h3>
				</div>
				<!-- /.card-header -->
				<!-- form start -->
				{% form_theme uploadForm 'bootstrap_4_layout.html.twig' %}
				{{ form_start(uploadForm) }}
					<div class="card-body">
						<div class="form-group" data-children-count="1">
							<label for="inputDBName">Название базы
							</label>
							{{ form_widget(uploadForm.name) }}
						</div>
						<div class="alert alert-info alert-dismissible">
				        	<h5><i class="icon fas fa-info"></i> Внимание!</h5>
				        	База должна имять обязательно расширение .csv<br>
				        	Разделитель: ";"<br>
				        	Формат базы: ФИО;Телефон;Адрес<br>
				        	<b>Адрес может оставаться пустым, остальные поля обязательны!</b>
				        </div>
						<div class="form-group">
							<label for="fileDB">Файл базы
							</label>
							<div class="input-group">
								<div class="custom-file">
									{{ form_widget(uploadForm.file) }}
								</div>
							</div>
						</div>
					</div>
					<!-- /.card-body -->
					<div class="card-footer">
						<button type="submit" class="btn btn-primary">Загрузить
						</button>
					</div>
				{{ form_end(uploadForm) }}
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">Загруженные базы
					</h3>
					<div class="card-tools">
					</div>
				</div> 
				<!-- /.card-header -->
				<div class="card-body table-responsive p-0">
					<table class="table table-hover text-nowrap">
						<thead>
							<tr>
								<th>ID</th>
								<th>Название</th>
								<th>#</th>
							</tr>
						</thead>
						<tbody>
							{% for db in dbs %}
								<tr>
									<td>{{ db.id }}</td>
									<td>{{ db.name }}</td>
									<td>
										<div class="btn-group" role="group">
											<a href="{{ db.file }}" class="btn btn-primary"><i class="fas fa-file-download"></i></a>
										</div>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div> 
				<!-- /.card-body -->
			</div> 
			<!-- /.card -->
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">Список обзвона
					</h3>
					<div class="card-tools">
					</div>
				</div> 
				<!-- /.card-header -->
				<div class="card-body table-responsive p-0">
					<table class="table table-hover text-nowrap">
						<thead>
							<tr>
								<th>#</th>
								<th>ID</th>
								<th>ФИО</th>
								<th>Номер телефона</th>
								<!-- <th>Регион</th> -->
								<th>Доп. данные</th>
								<!-- <th>Страна</th> -->
								<th>Статус</th>
							</tr>
						</thead>
						<tbody>
							{% for op in numbers %}
									<tr>
										<td>
											<div class="btn-group">
												<a href="/dashboard/contact/{{ op.id }}" class="btn btn-sm btn-primary"><i class="fas fa-search" aria-hidden="true"></i></a>
											</div>
										</td>
										<td>{{ op.id }}</td>
										<td>{{ op.fullname }}</td>
										<td>{{ op.phone }}</td>
										<!-- <td>{{ op.region }}</td> -->
										<td>{{ op.city }}</td>
										<!-- <th>{{ op.country }}</th> -->
										<td>
											{% if op.callstatus == 5 %}
												<span class="badge bg-danger">Отказник</span>
											{% endif %}
											{% if op.callstatus == 4 %}
												<span class="badge bg-default">В очереди</span>
											{% endif %}
											{% if op.callstatus == 3 %}
												<span class="badge bg-danger">Автоответчик</span>
											{% endif %}
											{% if op.callstatus == 2 %}
												<span class="badge bg-warning">Недозвон</span>
											{% endif %}
											{% if op.callstatus == 1 %}
												<span class="badge bg-success">Успешный клиент</span>
											{% endif %}
											{% if op.callstatus == 0 %}
												<span class="badge bg-default">Ожидает оператора</span>
											{% endif %}
										</td>
									</tr>
							{% endfor %}
						</tbody>
					</table>
				</div> 
				<!-- /.card-body -->
			</div> 
			<div class="btn-group">
				{% if prevpage != "0" %}
					<a href="/dashboard/outbound?pageno={{prevpage}}" class="btn btn-default">Предыдущая</a>
				{% endif %}
				<a href="/dashboard/outbound?pageno={{currpage}}" class="btn btn-default">{{currpage}}</a>
				<a href="/dashboard/outbound?pageno={{nextpage}}" class="btn btn-default">Следующая</a>
			</div>
			<!-- /.card -->
		</div>
	</div>

	<div class="row" style="display: none;">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">Список звонков
					</h3>
					<div class="card-tools">
					</div>
				</div> 
				<!-- /.card-header -->
				<div class="card-body table-responsive p-0">
					<br>
					<center>
						<h3>К сожалению ваш офис ещё не производил звонков по исходящей линии :-(<br><br>Ниже показан пример, как выглядит список.
						</h3>
					</center>
					<br>
					<table class="table table-hover text-nowrap">
						<thead>
							<tr>
								<th>ID оператора</th>
								<th>Время разговора</th>
								<th>Статус</th>
								<th>Итог</th>
								<th>Запись</th>
								<th>Стоимость</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>101</td>
								<td>00:01</td>
								<td><span class="badge bg-danger">Недозвон</span></td>
								<td><span class="badge bg-warning">Перезвон</span></td>
								<td>
									
								</td>
								<td>1.6 грн</td>
							</tr>
							<tr>
								<td>103</td>
								<td>11:20</td>
								<td><span class="badge bg-success">Дозвон</span></td>
								<td><span class="badge bg-danger">Отказ</span></td>
								<td>
									<div class="btn-group">
				                    	<a href="#" class="btn btn-primary"><i class="fas fa-play"></i></a>
				                    	<a href="#" class="btn btn-primary"><i class="fas fa-download"></i></a>
				                    </div>
								</td>
								<td>17.92 грн</td>
							</tr>
							<tr>
								<td>104</td>
								<td>01:20</td>
								<td><span class="badge bg-success">Дозвон</span></td>
								<td><span class="badge bg-warning">Перезвон</span></td>
								<td>
									<div class="btn-group">
				                    	<a href="#" class="btn btn-primary"><i class="fas fa-play"></i></a>
				                    	<a href="#" class="btn btn-primary"><i class="fas fa-download"></i></a>
				                    </div>
								</td>
								<td>3.2 грн</td>
							</tr>
							<tr>
								<td>105</td>
								<td>31:20</td>
								<td><span class="badge bg-success">Дозвон</span></td>
								<td><span class="badge bg-success">Успешно</span></td>
								<td>
									<div class="btn-group">
				                    	<a href="#" class="btn btn-primary"><i class="fas fa-play"></i></a>
				                    	<a href="#" class="btn btn-primary"><i class="fas fa-download"></i></a>
				                    </div>
								</td>
								<td>49.92 грн</td>
							</tr>
							<tr>
								<td>00:30</td>
								<td>101</td>
								<td><span class="badge bg-warning">Автоответчик</span></td>
								<td><span class="badge bg-warning">Перезвон</span></td>
								<td>
									
								</td>
								<td>1.6 грн</td>
							</tr>
							<tr>
								<td><b>Итого:</b></td>
								<td>44:31</td>
								<td></td>
								<td></td>
								<td></td>
								<td>74.24 грн</td>
							</tr>
						</tbody>
					</table>
				</div> 
				<!-- /.card-body -->
			</div> 
			<!-- /.card -->
		</div>
	</div>
</section>
{% endblock %}
