{% extends 'default/base.html.twig' %} {% block title %}Dashboard | Cotrol Panel{% endblock %} {% block body %}
<!-- Content Header (Page header) -->
<section class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1>Исходящая линия</h1>
			</div>
		</div>
	</div>
	<!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
	<div class="row">
		<div class="col-lg-12">
			<!-- Profile Image -->
			<div class="card card-primary card-outline">
				<div class="card-body box-profile">
					<div class="clearfix sipStatus">
						<div id="txtCallStatus" class="pull-right">&nbsp;</div>
						<div id="txtRegStatus"></div>
					</div>
				
					<div class="form-group" id="phoneUI">
						<div class="input-group">
							<div class="input-group-btn">
								<button class="btn btn-success btn-block btnCall" title="Позвонить">
									<i class="fa fa-phone"></i>
								</button>
							</div>
							<input type="text" name="number" id="numDisplay" class="form-control text-center input-sm" value="" placeholder="79991112233" autocomplete="off" />
							<div class="input-group-btn input-group-btn-sm">
								<button class="btn btn-sm btn-primary dropdown-toggle" id="btnVol" data-toggle="dropdown" title="Звук">
									<i class="fa fa-fw fa-volume-up"></i>
								</button>
								<div class="dropdown-menu dropdown-menu-right">
									<input type="range" min="0" max="100" value="100" step="1" id="sldVolume" />
								</div>
							</div>
						</div>
					</div>
				
					<div class="well-sip">
						<div id="sip-splash" class="text-muted text-center panel panel-default">
							<div class="panel-body">
								<h3 class="page-header">
								<span class="fa-stack fa-2x">
									<i class="fa fa-circle fa-stack-2x text-success"></i>
									<i class="fa fa-phone fa-stack-1x fa-inverse"></i>
								</span><br>
								Это ваш телефон</h3>
								<p class="lead">Для совершения звонков вставьте номер абонента в поле выше</p>
								<small>Закрытие данного окна приведёт к перенаправлению абонентов на голосовую почту.</small>
							</div>
						</div>
				
						<div id="sip-log" class="panel panel-default hide">
							<div class="panel-heading">
								<h4 class="text-muted panel-title">Недавние звонки <span class="pull-right"><i class="fa fa-trash text-muted sipLogClear" title="Очистить лог"></i></span></h4>
							</div>
							<div id="sip-logitems" class="list-group">
								<p class="text-muted text-center">Вы не совершали звонков с данного браузера.</p>
							</div>
						</div>
					</div>
				
					<div class="modal fade" id="mdlError" style="display: none;" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content bg-danger">
								<div class="modal-header">
									<h4 class="modal-title">Ошибка</h4>
									<button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
										<span aria-hidden="true">×</span>
									</button>
								</div>
								<div class="modal-body">
									<p>Ошибка регистрации SIP. Звонки в данный момент недоступны</p>
								</div>
							</div>
							<!-- /.modal-content -->
						</div>
						<!-- /.modal-dialog -->
					</div>


				</div>
				<!-- /.card-body -->
			</div>
			<!-- /.card -->
		</div>
	</div>
</section>

{% endblock %}
{% block phone_js %}
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/moment.js/moment.min.js"></script>
<script type="text/javascript" src="/assets/js/SIP.js/sip.min.js"></script>
<script type="text/javascript">
    var user = {
    //  User Name
    "User" : "{{ user.sipid }}",
    //  Password
    "Pass" : "{{ user.sippassword }}",
    //  Auth Realm
    "Realm"   : "s2.suvq.ru",
    // Display Name
    "Display" : "{{ user.sipid }}",
    // WebSocket URL
    "WSServer"  : "wss://s2.suvq.ru:8089/ws"
};
</script>
<script type="text/javascript" src="/assets/js/app.js"></script>
{% endblock %}