{% extends 'default/base_auth.html.twig' %}
{% block title %}Регистрация{% endblock %}
{% block body %}
<div class="login-box">
  
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Войти</p>
      {{ form_start(registrationForm) }}
        <div class="input-group mb-3">
        {{ form_widget(registrationForm.username) }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-users"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          {{ form_widget(registrationForm.plainPassword) }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          {{ form_widget(registrationForm.sip_id) }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          {{ form_widget(registrationForm.sip_password) }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">Регистрация</button>
          </div>
          <!-- /.col -->
        </div>
        
      {{ form_end(registrationForm) }}

     
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->
{% endblock %}