{% extends 'default/base.html.twig' %}
{% block title %}Разбивка базы | Cotrol Panel{% endblock %}
{% block body %}
<!-- Content Header (Page header) -->
<section class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1>Робот
			</div>
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item">
						<a href="#">Control Panel
						</a>
					</li>
					<li class="breadcrumb-item">Dashboard
					</li>
					<li class="breadcrumb-item active">Робот
					</li>
				</ol>
			</div>
		</div>
	</div> 
	<!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
	<div class="row">
		<div class="col-12">
			<div class="card card-primary">
				<div class="card-header">
					<h3 class="card-title">Загрузка базы прозвона
					</h3>
				</div>
				<!-- /.card-header -->
				<!-- form start -->
				{% form_theme uploadForm 'bootstrap_4_layout.html.twig' %}
				{{ form_start(uploadForm) }}
					<div class="card-body">
						<div class="form-group" data-children-count="1">
							<label for="inputDBName">Название базы
							</label>
							{{ form_widget(uploadForm.name) }}
						</div>
						<div class="alert alert-info alert-dismissible">
				        	<h5><i class="icon fas fa-info"></i> Внимание!</h5>
				        	База должна имять обязательно расширение .csv<br>
				        	Разделитель: ";"<br>
				        	Формат базы: ФИО;Телефон;Адрес<br>
				        	<b>Адрес может оставаться пустым, остальные поля обязательны!</b>
				        </div>
						<div class="form-group">
							<label for="fileDB">Файл базы
							</label>
							<div class="input-group">
								<div class="custom-file">
									{{ form_widget(uploadForm.file) }}
								</div>
							</div>
						</div>
					</div>
					<!-- /.card-body -->
					<div class="card-footer">
						<button type="submit" class="btn btn-primary">Загрузить
						</button>
					</div>
				{{ form_end(uploadForm) }}
			</div>
		</div>
	</div>
</section>
{% endblock %}
